/* CSS Document - Site Redesign */
/*------------------------------------------------
# Author: Rick Rose
# Modified:
# Last modified 24-Oct-2012
# Copyright 2012 All Rights Reserved	
# NEON, Inc.
--------------------------------------------------*/

/*used for header tag in map info window*/
#infowindowheader{
font-size: 1.5em;
color: #306848;
}

/*pop up for data viewer help text window*/
#dataviewerhelp{
position:fixed;
z-index:9002;
background-color:#FFFFFF;
border:solid 3px #000000;
top:50%;
left: 50%;
overflow: auto;
height:376px;
width:500px;
display:none;
padding: 10px;
margin:-183px 0 0 -250px; /* [-(height/2)px 0 0 -(width/2)px] */
}

/*size and place red X close button for pop up help windows*/
.btnclosewindow{
width:20px;
height:20px;
float:right;
}

/*style 'buttons' on plantresources_speciesinfo.php*/
.btnreport{
height:92px;
width:185px;
margin: 10px auto 0 auto;
color: rgb(48, 104, 72);
font-size: 1.1em;
vertical-align: middle;
display:inline-block;
}

/*style for div headers - replaces table header*/
#sitelocheader{
background-image: url("../images/SectionHeader_BG.png");
background-repeat: repeat-x;
color: #FFFFFF;
font-size: 11pt;
font-weight: bold;
height: 23px;
text-align: center;
padding: 3px 0 0 0;
}
	
/*class to left align and apply 10px top margin*/	
.left10pxtop{
align:left;
margin: 10px 0 0 0;
}

/*class to display pop up for map help text*/
.popupmaphelp{
position:fixed;
z-index:9002;
background-color:#FFFFFF;
border:solid 3px #000000;
top:50%;
left: 50%;
overflow: auto;
height:165px;
width:300px;
display:none;
padding: 10px;
margin:-82px 0 0 -150px; /* center div [-(height/2)px 0 0 -(width/2)px] */
}

/*display date error pop up*/
#popupdateerror{
position:fixed;
z-index:9002;
background-color:#FFFFFF;
border:solid 3px #000000;
top:50%;
left: 50%;
overflow: auto;
height:140px;
width:260px;
display:none;
padding: 10px;
margin:-70px 0 0 -130px; /* center div [-(height/2)px 0 0 -(width/2)px] */
}

/*register.php missing registration field error pop up*/
#popupregistrationerror{
position:fixed;
z-index:9002;
background-color:#FFFFFF;
border:solid 3px #000000;
top:50%;
left: 50%;
overflow: auto;
height:200px;
width:260px;
display:none;
padding: 10px;
margin:-100px 0 0 -130px; /* center div [-(height/2)px 0 0 -(width/2)px] */
}

/*register.php missing registration field error pop up*/
#popuprequestreportererror{
position:fixed;
z-index:9002;
background-color:#FFFFFF;
border:solid 3px #000000;
top:50%;
left: 50%;
overflow: auto;
height:200px;
width:260px;
display:none;
padding: 10px;
margin:-100px 0 0 -130px; /* center div [-(height/2)px 0 0 -(width/2)px] */
}

.outerholder{
width: 505px;
height: 215px;
margin: 20px auto 0 auto;
}

.buttonholder{
width: 200px;
height: 230px;
float:left;
margin: 0 20px 0 20px;
}

/*'buttons' used on occ_obs4_do to allow visitor to return to their mybudburst page, make another report*/
.pseudobuttons{
height: 63px;
width: 200px;
padding: 17px 0 0 0;
color: white;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: black;
text-decoration:none;	
font-weight:bold;
text-align:center;
}

.pseudobuttons a:hover{
text-decoration:none;
}

.bluebutton{
background-color:#A2C7E8;
margin-right: 20px;
}

.purplebutton{
background-color:#DC98CE;
margin-right: 20px;
}

.yellowbutton{
background-color:#FFDA59;
}

/*div header that replaces table header with green gradient background*/
#greenheader
{
background-image: url("../images/SectionHeader_BG.png");
background-size: 100% 40px;
background-repeat: repeat-x;
color: #FFFFFF;
font-size: 11pt;
font-weight: bold;
height: 40px;
margin: 5px 0 0 0;
padding: 10px 0 0 0;
}

/*my_regular_reports.php styles*/
#headerholder{
height: 50px;
}

.siteholder{
background-color: #EDE1E1;
padding: 5px 10px 10px 10px;
margin: 0 0 10px 0;

}

.plantholder{
border:1px solid grey;
margin: 0 0 20px 30px;
padding: 10px;
height: 100px;
}

.imageholder{
float:left;
}

.plantname{
margin: 42px 0 0 15px;
width: 35%;
float:left;
}

#addplantholder{
width: 200px;
height: 24px;
text-align: center;
margin: 0 auto;
}

.button1{
width: 300px;
float:left;
margin: 20px 0 0 0;
}

.button2{
width: 200px;
float:left;
margin: 0;
}
/*end my_regular_reports.php styles*/  

/*plantresources_speciesinfo.php styles*/
.speciesinfobuttons{
padding:0 10px 10px 10px;
width:200px;
height:255px;
border: 1px solid grey;
float:left;
margin: 0 0 0 15px;
}
/*end plantresources_speciesinfo.php styles*/