@charset "UTF-8";
/** 
 *
 * Modified by Leah A. Wasser 2 October 2012
 /* 1/25/2013 I moved most of the styles from this css sheet to the main style sheet per Dennis' request I left the purple buttons in here because i wasn't sure they were used anywhere... BUT i wanted to leave them in case they were being used. */
 


/* this is a purple button used on the my budburst page only*/
/* this may no longer be used?? */ 
.purplebuttons {
	padding: 4px 12px;
	display: inline-block;
	text-align: center;
	position: relative;
	color: #ffffff;
	font-size: 13px;
	font-family: sans-serif;
	border: 1px solid #67A81F;
	border-radius: 5px;
	text-decoration: none;
	font-weight: bold;
	font-style: normal;
	background-color: #A7508E;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C170D1', endColorstr='#A7508E');
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C170D1), to(#A7508E));
	background-image: -webkit-linear-gradient(top, #C170D1, #A7508E);
	background-image: -moz-linear-gradient(top, #C170D1, #A7508E);
	background-image: -ms-linear-gradient(top, #C170D1, #A7508E);
	background-image: -o-linear-gradient(top, #C170D1, #A7508E);
	background-image: linear-gradient(top, #C170D1, #A7508E);
}
.purplebuttons:hover, .purplebuttons:active {
	text-decoration: none;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5d2967', endColorstr='#5d2967');
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5d2967), to(#5d2967));
	background-image: -webkit-linear-gradient(top, #5d2967, #5d2967);
	background-image: -moz-linear-gradient(top, #5d2967, #5d2967);
	background-image: -ms-linear-gradient(top, #5d2967, #5d2967);
	background-image: -o-linear-gradient(top, #5d2967, #5d2967);
	background-image: linear-gradient(top, #5d2967, #5d2967);
	font-family: sans-serif;
}
